@using APMT.Areas.Company.Models
@model managerProject

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Company/Views/Shared/_Client_LayoutPage.cshtml";
    int i = 0;
    var lst = (List<managerProject>)ViewBag.LstProject;
}
<section class="content-header">
    <h1>
        Project List
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Project Management</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
            @Html.Partial("Add_New")
            <br />
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Projects Table</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="projectlist" class="table table-bordered table-hover text-center">
                        <thead>
                            <tr>
                                <th>No.</th>
                                <th>Project Name</th>
                                <th>Manager Name</th>                       
                                <th>Enable</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in lst)
                            {
                                i++;
                                <tr>
                                    <td>@i</td>
                                    <td>
                                        @*@Html.ActionLink(item.name, "ListProcess", "ProcessManagement", new { @id = item.id }, null)*@
                                        <a href="/Company/ProjectManagement/viewInfor_Project/@item.ID" data-toggle="modal" data-target="#myModalProject">@item.ProjectName</a>
                                    </td>
                                    <td>@item.ManagerName</td>
                                    <td>

                                        @if (@item.Status == true)
                                        {
                                            <input class="icheckStatus" type="checkbox" checked="checked" onclick="return setStatus(@item.ID)" />
                                        }
                                        else
                                        {
                                            <input class="icheckStatus" type="checkbox" onclick="return setStatus(@item.ID)" />
                                        }

                                    </td>
                                    <td>
                                        @*<a href="@Url.Action("AddMember","ProjectManagement")" class="btn btn-primary">Add Member</a>
                        <a href="/Company/ProjectManagement/Delete/@item.ID" data-href="#" data-toggle="#" data-target="#">Delete</a>*@
                                        <div class="dropdown">
                                            <center>
                                                @*<button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                    Choose
                                                    <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                                    <li>@Html.ActionLink("Add Member", "AddMember")</li>
                                                    <li>@Html.ActionLink("Delete", "Delete", new { id = @item.ID })</li>
                                                </ul>*@
                                                <a style="color: blue" class="addmember-link" href=""/Company/ProjectManagement/Addmember/@item.ID"">Add member</a>    
                                                <a style="color: red" class="delete-link glyphicon glyphicon-remove" href="/Company/ProjectManagement/Delete/@item.ID"></a>   
                                            </center>
                                        </div>
                                    </td>
                                </tr>

                            }
                        </tbody>
                    </table>
                </div>
                <div class="col-sm-5 col-lg-5">
                    <script>
                        $(function () {
                            $('#projectlist').DataTable({
                                "paging": true,
                                "lengthChange": true,
                                "searching": true,
                                "ordering": true,
                                "info": true,
                                "autoWidth": false,
                                "columnDefs": [{ targets: -1, orderable: false }, { targets: -2, orderable: false }, { targets: -3, orderable: false }]
                            });
                        })
                    </script>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" tabindex="-1" role="dialog" id="myModalProject">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">APMT Project Information</h4>
                </div>
                <div class="modal-body">
                    @Html.Partial("viewInfor_Project")
                </div>
                @*<div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>*@
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

</section>
