@model IEnumerable<Models.APMT_Company_User>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Allowed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.isAdministrator)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.isCreator)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.isMember)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.APMT_Company.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.APMT_User.Email)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Allowed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isAdministrator)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isCreator)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isMember)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.APMT_Company.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.APMT_User.Email)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
                @Html.ActionLink("Details", "Details", new { id=item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.ID })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
