@using APMT.Areas.Company.Models
@model userCompany
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Company/Views/Shared/_Client_LayoutPage.cshtml";
    //var lst = (List<userCompany>)ViewBag.List;
    //int i = 0;

}
<section class="content-header">
    <h1>
        Members List
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Member Management</li>
    </ol>
</section>
<section class="content">
    <div class="form-group">
        @*@Html.Partial("Add_New")*@
        <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#Add_New_Modal">Add New</button>
        @*<div id="AddNew" class="box collapse">
                <!-- /.box-header -->
                <!-- form start -->
                <label id="result"></label>
                <form role="form" action="~/Company/MemberManagement/Add_New/" method="post">
                    <div class="box-body">
                        <div class="form-group">
                            <label for="exampleInputFile">Email</label>
                            <input class="form-control" type="text" id="somevalue" name="somevalue" data-autocomplete-url="autocomplete" />
                        </div>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary btn-md" onclick="Add_new">Add</button>
                    </div>
                </form>
            </div>*@
    </div>
    <div class="row">
        <div class="col-xs-12 col-lg-12">
            @*<form class="form-inline">
                    <input class="form-control" placeholder="Input keyword" id="searchString" name="searchString" type="text" />
                    <button type="submit" class="form-control" onclick="">Search</button>
                </form>*@
            @*<p>@TempData["Message"]</p>*@
            <div class="box">
                <div class="box-header">
                    <center>
                        <h2>Members Table</h2>
                    </center>
                </div>
                <div class="box-body">
                    <table id="lstMember" class="table table-hover table-bordered">
                        <thead>
                            <tr>
                                <th class="col-lg-1 col-md-1 col-sm-1 col-xs-1"><center>No.</center></th>
                                <th class="col-lg-1 col-md-1 col-sm-1 col-xs-1"><center>Full Name</center></th>
                                <th class="col-lg-1 col-md-1 col-sm-1 col-xs-1"><center>Role </center></th>
                                <th class="col-lg-1 col-md-1 col-sm-0 col-xs-1"><center>Enable </center></th>
                                <th class="col-lg-1 col-md-1 col-sm-1 col-xs-1"><center>Delete</center></th>
                            </tr>
                        </thead>
                        <tbody>
                            @*@foreach (var item in lst)
                                {
                                    i++;
                                    <tr>
                                        <td><center>@i</center></td>
                                        <td>
                                            <center>
                                                <a href="/Company/MemberManagement/viewInfor_MB/@item.id" data-toggle="modal" data-target="#myModal">@item.fullName</a>
                                            </center>
                                        </td>

                                        <td>
                                            <input class="icheckAdmin" type="checkbox" checked="@item.isAdministrator" name="isAdministrator" id="isAdministrator" data-id="@item.id" /> Administrator

                                            <br />
                                            <input class="icheckCreator" type="checkbox" checked="@item.isCreator" name="isCreator" id="isCreator" data-id="@item.id" /> Creator
                                        </td>


                                        <td>
                                            <center>
                                                @if (@item.isAllowed == 1)
                                                {
                                                    <input class="icheckStatus" type="checkbox" checked="checked" data-id="@item.id" />
                                                }
                                                else
                                                {
                                                    <input class="icheckStatus" type="checkbox" data-id="@item.id" />
                                                }
                                            </center>
                                        </td>
                                        <td>
                                            <div class="dropdown">
                                                <center>
                                                    <button class="btn btn-danger btnDeleteMember" type="button" aria-haspopup="true" aria-expanded="true" data-id="@item.id">
                                                        Delete
                                                    </button>
                                                </center>
                                            </div>
                                        </td>

                                    </tr>
                                }*@

                        </tbody>
                    </table>
                </div>
                <div class="col-sm-5 col-lg-5">
            
                </div>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
    <!-- /.row -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">User Information</h4>
                </div>
                <div class="modal-body">
                    @Html.Partial("viewInfor_MB")
                </div>
                @*<div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>*@
            </div>
        </div>
    </div>

    <div class="modal fade" id="Add_New_Modal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Insert Member for Company</h4>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <h5>Please Input your member's email.</h5>
                        <label id="txtResult" style="color:#ff0621"></label><br />
                        <label for="exampleInputFile">Email</label>
                        <input class="form-control" type="text" id="somevalue" name="somevalue" data-autocomplete-url="autocomplete" />

                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary btn-md" id="btnAdd">Add</button>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" id="btnClose">Close</button>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="~/Content/client/scripts/MemberManagement.js"></script>
@*<script>
    $(function () {
        $('#lstMember').DataTable({
            "paging": true,
            "lengthChange": true,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": false
        });
    });
</script>*@
