@model Models.APMT_User

@{
    Layout = null;
}
    <div class="row primary box-body">
        <div class="col-xs-9"><h1>@Html.DisplayFor(model => model.Fullname)</h1></div>
        <div class="col-xs-4"><img style="width:100%;" src="~/Content/Images/Avatar_ProductAD.jpg" /></div>
        <div class="col-xs-6">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Email)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Email)
                </dd>             
                <dt>
                    @Html.DisplayNameFor(model => model.Create_at)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Create_at)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Update_at)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Update_at)
                </dd>
            </dl>
        </div>
    </div>