@using APMT.Areas.Company.Models
@model userCompany
@*@using PagedList.Mvc;
    @model PagedList.IPagedList<userCompany>*@

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Company/Views/Shared/_Client_LayoutPage.cshtml";
    var lst = (List<userCompany>)ViewBag.List;
    int i = 0;

}
<section class="content-header">
    <h1>
        Member List
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Member Management</li>
    </ol>
</section>
<section class="content">
    <div class="form-group">
        @Html.Partial("Add_New")
    </div>
    <div class="row">
        <div class="col-xs-12 col-lg-12">
            <form class="form-inline">
                <input class="form-control" placeholder="Input keyword" id="searchString" name="searchString" type="text" />
                <button type="submit" class="form-control" onclick="">Search</button>
            </form>
            <p>@TempData["Message"]</p>
            <p style="color:red">@ViewBag.Result</p>
            <p style="color:red">@ViewBag.Message</p>
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Member Table</h3>
                </div>
                <div class="box-body">
                    <table id="memberlist" class="table table-hover table-bordered">
                        <thead>
                            <tr>
                                <th class="col-lg-1"><center>No.</center></th>
                                <th class="col-lg-1"><center>Full Name</center></th>
                                <th class="col-lg-1"><center>Avatar</center></th>
                                <th class="col-lg-1"><center>Role </center></th>
                                <th class="col-lg-1"><center>Status </center></th>
                                <th class="col-lg-1"><center>Action</center></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in lst)
                            {
                                i++;
                                <tr>
                                    <td><center>@i</center></td>
                                    <td>
                                        <center>
                                            <a href="/Company/MemberManagement/viewInfor_MB/@item.id" data-toggle="modal" data-target="#myModal">@item.fullName</a>
                                        </center>
                                    </td>
                                    <td>
                                        <center>
                                            <img style="width:50%;" src="~/Content/Images/Avatar_ProductAD.jpg" />
                                        </center>
                                    </td>

                                    <td>
                                        <div class="dropdown">
                                            @if (@item.isAdministrator == true)
                                            {
                                                <center> <label>Administrator</label></center>
                                            }
                                            @if (@item.isCreator == true)
                                            {
                                                <center> <label>Creator</label></center>
                                            }
                                            @if (@item.isMember == true)
                                            { <center> <label>Member</label></center>
                                            }
                                        </div>
                                    </td>


                                    <td>
                                        <div class="dropdown">
                                            <center>
                                                @if (@item.isAllowed == 1)
                                                {
                                                    <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                        Enable
                                                        <span class="caret"></span>
                                                    </button>
                                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                                        <li role="separator" class="divider"></li>
                                                        <li>@Html.ActionLink("Disable", "setStatus", new { id = @item.id })</li>
                                                    </ul>
                                                }
                                                else
                                                {
                                                    <button class="btn btn-danger dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                        Disable
                                                        <span class="caret"></span>
                                                    </button>
                                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                                        <li role="separator" class="divider"></li>
                                                        <li>@Html.ActionLink("Enable", "setStatus", new { id = @item.id })</li>
                                                    </ul>
                                                }
                                            </center>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="dropdown">
                                            <center>
                                                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                    Choose
                                                    <span class="caret"></span>
                                                </button>

                                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                                    @if (@item.isAdministrator == false)
                                                    {
                                                        <li>@Html.ActionLink("Set Administrator", "setAdministrator", new { id = @item.id })</li>
                                                    }
                                                    else
                                                    {
                                                        <li>@Html.ActionLink("Set Member", "setMember", new { id = @item.id })</li>
                                                    }
                                                    @if (@item.isCreator == false)
                                                    {
                                                        <li>@Html.ActionLink("Set Creator", "setCreator", new { id = @item.id })</li>
                                                    }
                                                    else
                                                    {
                                                        <li>@Html.ActionLink("Delete Role Creator", "setCreator", new { id = @item.id })</li>
                                                    }


                                                    <li>@Html.ActionLink("Delete Member", "deleteMember", new { id = @item.id }, new { onclick = "return confirm('Do you really want to delete the Member " + @item.fullName + "?')" })</li>

                                                </ul>
                                            </center>
                                        </div>
                                    </td>

                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="col-sm-5 col-lg-5">
                    <script>
                        $(function () {
                            $('#memberlist').DataTable({
                                "paging": true,
                                "lengthChange": false,
                                "searching": false,
                                "ordering": true,
                                "info": true,
                                "autoWidth": false
                            });
                        });
                    </script>

                </div>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
    <!-- /.row -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">User Information</h4>
                </div>
                <div class="modal-body">
                    @Html.Partial("viewInfor_MB")
                </div>
                @*<div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>*@
            </div>
        </div>
    </div>
</section>
