@using APMT.Areas.Company.Models
@model userCompany
@*@using PagedList.Mvc;
    @model PagedList.IPagedList<userCompany>*@

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Company/Views/Shared/_Client_LayoutPage.cshtml";
    var lst = (List<userCompany>)ViewBag.List;
    int i = 0;

}
<section class="content-header">
    <h1>
        Member List
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Member Management</li>
    </ol>
</section>
<section class="content">
    <div class="box-body">
        <div class="form-group">
            <form class="form-inline">
               <input class="form-control" placeholder="Input keyword" id="searchString" name="searchString" type="text" />
               <button type="submit" class="form-control" onclick="">Search</button>
            </form>
        </div>

    </div>
    <div class="row">
        <div class="col-xs-12 col-lg-12">
            @Html.Partial("Add_New")
            <p>@TempData["Message"]</p>
            <p>@ViewBag.Result</p>
            <div class="box box-info">
                <hr />
                <!-- /.box-header -->

                <br />
                <table class="table table-hover table-bordered">
                    <thead>
                        <tr>
                            <th>@Html.HiddenFor(x => x.id)</th>
                            <th><center>No.</center></th>
                            <th class="col-lg-2"><center>Full Name</center></th>
                            <th class="col-lg-1"><center>Avatar</center></th>
                            <th class="col-lg-3"><center>Email </center></th>
                            <th class="col-lg-2"><center>CreateDate </center></th>
                            <th class="col-lg-1"><center>Role </center></th>
                            <th class="col-lg-1"><center>Status </center></th>
                            <th colspan="2"><center>Action</center></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in lst)
                        {
                            i++;
                            <tr>
                                <td><center>@Html.DisplayFor(x => x.id)</center></td>
                                <td><center>@i</center></td>
                                <td>
                                    <center><a href="/Company/MemberManagement/viewInfor/@item.id" data-toggle="modal" data-target="#myModal">@item.fullName</a></center>
                                    @* *@
                                </td>
                                <td><img style="width:100%;" src="~/Content/Images/Avatar_ProductAD.jpg" /></td>
                                <td><center>@item.email</center></td>
                                <td><center>@item.createAt</center></td>

                                <td>
                                    <div class="dropdown">
                                        @if (@item.isAdministrator == true)
                                        {
                                            <center> <label>Administrator</label></center>
                                        }
                                        @if (@item.isCreator == true)
                                        {
                                            <center> <label>Creator</label></center>
                                        }
                                        @if (@item.isMember == true)
                                        { <center> <label>Member</label></center>
                                        }
                                    </div>
                                </td>


                                <td>
                                    <div class="dropdown">
                                        <center>
                                            @if (@item.isAllowed == 1)
                                            {
                                                <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                    Enable
                                                    <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                                    <li role="separator" class="divider"></li>
                                                    <li>@Html.ActionLink("Disable", "setStatus", new { id = @item.id })</li>
                                                </ul>
                                            }
                                            else
                                            {
                                                <button class="btn btn-danger dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                    Disable
                                                    <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                                    <li role="separator" class="divider"></li>
                                                    <li>@Html.ActionLink("Enable", "setStatus", new { id = @item.id })</li>
                                                </ul>
                                            }
                                        </center>
                                    </div>
                                </td>
                                <td>
                                    <div class="dropdown">
                                        <center>
                                            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                Choose
                                                <span class="caret"></span>
                                            </button>

                                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                                @if (@item.isAdministrator == false)
                                                {
                                                    <li>@Html.ActionLink("Set Administrator", "setAdministrator", new { id = @item.id })</li>
                                                }
                                                else
                                                {
                                                    <li>@Html.ActionLink("Set Member", "setMember", new { id = @item.id })</li>
                                                }
                                                @if (@item.isCreator == false)
                                                {
                                                    <li>@Html.ActionLink("Set Creator", "setCreator", new { id = @item.id })</li>
                                                }
                                                else
                                                {
                                                    <li>@Html.ActionLink("Delete Role Creator", "setCreator", new { id = @item.id })</li>
                                                }


                                                <li>@Html.ActionLink("Delete Member", "deleteMember", new { id = @item.id }, new { onclick = "return confirm('Do you really want to delete the Member " + @item.fullName + "?')" })</li>

                                            </ul>
                                        </center>
                                    </div>
                                </td>

                            </tr>
                        }
                    </tbody>
                </table>
                @*<div class="col-sm-5 col-lg-5">
                    <div>
                        @Html.PagedListPager(Model, page => Url.Action("Index",
                     new { page = page }))
                    </div>*@

            </div>
        </div>

        <!-- /.box-body -->
    </div>
    <!-- /.box -->
    </div>
    <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
