@using Models;
@model IEnumerable<APMT_Company>
<!--list chua cac danh sach company dc load len-->
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/System/Views/Shared/_SystemLayoutPage.cshtml";
    var lst = (List<APMT_Company>)ViewBag.List;
    int i = 0;
}
<section class="content-header">
    <h1 align="center">
        <b>CLIENT LIST</b>

    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Client Management</li>
    </ol>
</section>
<section class="content">


    <div class="box">

        <div class="box-body">


            <p>@ViewBag.Result</p>
            <table id="clientlist" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th><center>No.</center></th>
                        <th><center>Client Name</center></th>
                        <th><center>Date Created</center></th>
                        <th><center>Enable</center></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in lst)
                    {
                        i++;
                        <tr>
                            <td><center>@i</center></td>
                            <td><center>@item.Name</center></td>
                            <td>
                                <center>
                                    @item.Register_at
                                </center>
                            </td>
                            <td>
                                <center>
                                    @if (@item.Allowed == true)
                                    {
                                        <input class="icheckStatus" type="checkbox" checked="checked" data-id="@item.ID" />
                                    }
                                    else
                                    {
                                        <input class="icheckStatus" type="checkbox" data-id="@item.ID" />
                                    }
                                </center>
                            </td>

                            @*    @if (@item.Allowed == true)
                                                                        {
                                <td>
                                                                            <div class="dropdown">
                                                                                <center>
                                                                                    <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                                                        <b> Enable</b>
                                                                                        <span class="caret"></span>
                                                                                    </button>

                                                                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                                                                        <li role="separator" class="divider"></li>
                                                                                        <li><b>@Html.ActionLink("Disable", "setStatus", new { id = @item.ID })</b></li>
                                                                                    </ul>
                                                                                </center>
                                                                            </div>
                                                                        </td>

                                                                    }
                                                                    else
                                                                    {

                                                                        <td>
                                                                            <div class="dropdown">
                                                                                <center>
                                                                                    <button class="btn btn-danger dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                                                        <b> Disable</b>
                                                                                        <span class="caret"></span>
                                                                                    </button>

                                                                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                                                                        <li role="separator" class="divider"></li>
                                                                                        <li><b>@Html.ActionLink("Enable", "setStatus", new { id = @item.ID })</b></li>
                                                                                    </ul>
                                                                                </center>
                                                                            </div>

                                                                        </td> *@


                        </tr>
                    }
                </tbody>
                @*<tfoot>
                        <tr>
                            <th>Client Name</th>
                            <th>Date Created</th>
                            <th>Status</th>
                        </tr>
                    </tfoot>*@
            </table>

            <div class="col-sm-7">
                <script>
                    $(function () {
                        $('#clientlist').DataTable({
                            "paging": true,
                            "lengthChange": true,
                            "searching": true,
                            "ordering": true,
                            "info": true,
                            "autoWidth": false
                        });
                    });




                    $('.icheckStatus').click(function (e) {
                        var chkStatus = $(this);
                        var id = chkStatus.data('id');

                        $.ajax({
                            url: "/Company/MemberManagement/setStatus",
                            data: { id: id },
                            success: function (response) {
                                console.log(response);
                                console.log(chkStatus);
                            }
                        });
                    });


                </script>
            </div>
        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->

</section>

