@using Models;
@model IEnumerable<APMT_User>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/System/Views/Shared/_SystemLayoutPage.cshtml";
    var lst = (List<APMT_User>)ViewBag.List;
    int i = 0;
}
<link href="~/Content/css/TabPanel.css" rel="stylesheet" />
<section class="content-header">
    <h1>
        User List
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">User Management</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12 col-lg-12">
            @*<form class="form-inline">
                    <input class="form-control" placeholder="Input keyword" id="searchString" name="searchString" type="text" />
                    <button type="submit" class="form-control" onclick="">Search</button>
                </form>*@
            <div class="box">
                <div class="box-header">
                    <center>
                        <h2>Users Table</h2>
                    </center>
                </div>
                <div class="box-body">
                    <p>@ViewBag.Result</p>
                    <table id="userlist" class="table table-hover table-bordered table-responsive">
                        <thead>
                            <tr>
                                <th class="col-lg-1 col-md-1 col-sm-1 col-xs-1"><center>No.</center></th>
                                <th class="col-lg-1 col-md-1 col-sm-1 col-xs-1"><center>Full Name</center></th>
                                <th class="col-lg-1 col-md-1 col-sm-1 col-xs-1"><center>Role </center></th>
                                <th class="col-lg-1 col-md-1 col-sm-1 col-xs-1"><center>Enable </center></th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in lst)
                            {
                                i++;
                                <tr>
                                    <td><center>@i</center></td>
                                    <td>
                                        <center><a href="/System/UserManagement/viewInfor_User/@item.ID" data-toggle="modal" data-target="#myModal">@item.Fullname</a></center>
                                    </td>
                                    <td>
                                        <center>
                                            <input class="icheckAdmin" type="checkbox" checked="@item.IsProAdmin" name="isProAdministrator" id="isProAdministrator" onclick="return setProAdmin(@item.ID)" /> Product Administrator
                                        </center>
                                    </td>

                                    <td>

                                        @if (@item.Allowed == 1)
                                        {
                                            <center>
                                                <input class="icheckStatus" type="checkbox" checked="checked" onclick="return setStatus(@item.ID)" />
                                            </center>
                                        }
                                        else
                                        {
                                            <center>
                                                <input class="icheckStatus" type="checkbox" onclick="return setStatus(@item.ID)" />
                                            </center>
                                        }

                                    </td>

                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="col-sm-5 col-lg-5">
                    <script>
                        $(function () {
                            $('#userlist').DataTable({
                                "paging": true,
                                "lengthChange": true,
                                "searching": true,
                                "ordering": true,
                                "info": true,
                                "autoWidth": false,
                                "columnDefs": [{ targets: -1, orderable: false }, { targets: -2, orderable: false }]
                            });
                        })
                    </script>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">User Information</h4>
                </div>
                <div class="modal-body">
                    @Html.Partial("viewInfor_User")
                </div>
                @*<div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>*@
            </div>
        </div>
    </div>
</section>
<script src="~/Content/client/scripts/UserManagerment.js"></script>
