@using Models;
@model IEnumerable<APMT_User>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/System/Views/Shared/_SystemLayoutPage.cshtml";
    var lst = (List<APMT_User>)ViewBag.List;
    int i = 0;
}
<link href="~/Content/css/TabPanel.css" rel="stylesheet" />
<section class="content-header">
    <h1>
        User List
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">User Management</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12 col-lg-12">
            <form class="form-inline">
                <input class="form-control" placeholder="Input keyword" id="searchString" name="searchString" type="text" />
                <button type="submit" class="form-control" onclick="">Search</button>
            </form>
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">User Table</h3>
                </div>
                <div class="box-body">
                    <p>@ViewBag.Result</p>
                    <table id="userlist" class="table table-hover table-bordered">
                        <thead>
                            <tr>
                                <th class="col-lg-1"><center>No.</center></th>
                                <th class="col-lg-1"><center>Full Name</center></th>
                                <th class="col-lg-1"><center>Avatar</center></th>
                                <th class="col-lg-1"><center>Email </center></th>
                                <th class="col-lg-1"><center>CreateDate </center></th>
                                <th class="col-lg-1"><center>Role </center></th>
                                <th class="col-lg-1"><center>Status </center></th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in lst)
                            {
                                i++;
                                <tr>
                                    <td><center>@i</center></td>
                                    <td>
                                        <center><a href="/Company/UserManagement/viewInfor_User/@item.ID" data-toggle="modal" data-target="#myModal">@item.Fullname</a></center>
                                        @Html.Partial("viewInfor_User")
                                    </td>
                                    <td>
                                        <center>
                                            <img style="width:50%;" src="~/Content/Images/Avatar_ProductAD.jpg" />
                                        </center>
                                    </td>
                                    <td><center>@item.Email</center></td>
                                    <td><center>@item.Create_at</center></td>
                                    @if (@item.IsProAdmin == true)
                                    {
                                        <td>
                                            <div class="dropdown">
                                                <center>
                                                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                        Product Administrator
                                                        <span class="caret"></span>
                                                    </button>

                                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                                        <li>@Html.ActionLink("User", "setUser", new { id = @item.ID })</li>
                                                    </ul>
                                                </center>
                                            </div>
                                        </td>
                                    }
                                    else if (@item.IsProAdmin == false)
                                    {
                                        <td>
                                            <div class="dropdown">
                                                <center>
                                                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                        User
                                                        <span class="caret"></span>
                                                    </button>

                                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                                        <li>@Html.ActionLink("Product Administrator", "setProAdministrator", new { id = @item.ID })</li>
                                                    </ul>
                                                </center>
                                            </div>
                                        </td>
                                    }

                                    @if (@item.Allowed == 1)
                                    {
                                        <td>
                                            <div class="dropdown">
                                                <center>
                                                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                        Enable
                                                        <span class="caret"></span>
                                                    </button>

                                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                                        <li role="separator" class="divider"></li>
                                                        <li>@Html.ActionLink("Disable", "setStatus", new { id = @item.ID })</li>
                                                    </ul>
                                                </center>
                                            </div>
                                        </td>

                                    }
                                    else
                                    {

                                        <td>
                                            <div class="dropdown">
                                                <center>
                                                    <button class="btn btn-danger dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                        Disable
                                                        <span class="caret"></span>
                                                    </button>

                                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                                        <li role="separator" class="divider"></li>
                                                        <li>@Html.ActionLink("Enable", "setStatus", new { id = @item.ID })</li>
                                                    </ul>
                                                </center>
                                            </div>
                                        </td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="col-sm-7">
                    <script>
                        $(function () {
                            $('#userlist').DataTable({
                                "paging": true,
                                "lengthChange": false,
                                "searching": false,
                                "ordering": true,
                                "info": true,
                                "autoWidth": false
                            });
                        });
                    </script>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
</section>

